.card-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}