$link-colour: rgb(239,238,234);

.navbar {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;
    display: flex;
    justify-content: space-between;

    img {
        margin-top: 3rem;
        margin-left: 10rem;
        object-fit: contain;
    }

    .link-container {
        margin-top: 3rem;
        display: flex;
        justify-content: flex-end;
        .link {
            margin: 0 4rem;
            text-decoration: none;
            color: $link-colour;

            &:last-child {
                margin-right: 10rem;
            }
        }

        .link-active {
        }
    }
}
