$margin-normal: 0 0 0 6rem;
$padding-normal: $margin-normal;
$margin-flipped: 0 6rem 0 0;
$padding-flipped: $margin-flipped;

.section-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    height: 37vw;
    width: 100%;
    
    &.flipped {
        flex-direction: row-reverse;
    }

    .banner {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 90%;
        object-fit: cover;
        display: block;
        
        &.flipped {
            left: unset;
            right: 0;
        }
    }

    .smaller-section {
        width: 45%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .section-title {
            font-family: "Gotham Bold";
            font-size: 5vw;
            width: 7rem;
            line-height: 0.8;
            padding: $padding-normal;
            &.flipped {
                padding: 0 6rem 0 0;
            }
        }

        .children {
            font-family: "Gotham Book";
            padding: $padding-normal;
            text-align: left;
            &.flipped {
                padding: $padding-flipped;
                text-align: right;
            }
        }

        &.flipped {
            background-color: white;
            color: black;
            align-items: flex-end;
        }
    }
}

@media only screen and (max-width: 768px) {
    .section-container {
        height: unset;
        flex-direction: column;
        justify-content: center;

        &.flipped {
            flex-direction: column;
        }

        .banner {
            position: relative;
            width: 100%;
        }

        .smaller-section {
            width: 100%;
            align-items: center;
            background-color: unset;
            color: black;

            &.flipped {
                align-items: center;
                background-color: unset;
            }

            .section-title {
                width: unset;
                padding: 0;
                font-size: 10vw;
                &.flipped {
                    padding: 0;
                }
            }

            .children {
                padding: 0;
                text-align: center;
                &.flipped {
                    padding: 0;
                    text-align: center;    
                }
            }
        }
    }
}