@mixin error {
    color: #db2269;
    font-size: 0.625em;
    display: relative;
}

.contact-form-container {
    background-color: black;
    height: 20vw;
    display: flex;

    padding: 6rem 15vw;
    border-bottom: 1px solid #4d4d4d;

    text-align: left;

    .contact-information {
        color: white;
        text-align: left;
        h1 {
            margin: 0;
            font-size: 5vw;
            width: 18vw;
            line-height: 0.8;
        }
        ul {
            list-style: none;
            padding: 0;
        }
    }

    .contact-form {
        margin-left: 6vw;
        margin-top: 1rem;
        display: grid;
        grid-template-rows: repeat(2, 7%) 45% 15%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "name lastname"
            "email email"
            "message message"
            "button .";

        justify-items: center;
        gap: 1vw;
        .message {
            grid-area: message;
            box-sizing: border-box;
            border: 1px solid white;
            background-color: black;
            width: 32vw;
            margin: 0;
            padding: 1rem 0 0 1rem;
            color: white;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #4d4d4d;
                opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: #4d4d4d;
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: #4d4d4d;
            }
        }

        .button {
            grid-area: button;
            box-sizing: border-box;
            justify-self: left;
            margin-left: 0.5vw;
        }
        .error {
            @include error();
        }
    }
}
