.tab-container {
    display: flex;
    // margin: 4rem 10rem;
    margin-left: 10rem;

    box-sizing: content-box;
    &:first-child {
        margin-top: 5rem;
    }

    .tab {
        background-color: #cccccc;
        width: 20vw;
        height: 15%;
        padding: 2rem 3rem;

        grid-area: tabs;
    }

    .tab-content {
        background-color: white;
        width: 50vw;
        padding: 3rem 6rem;
        text-align: left;

        grid-area: content;
    }
}