@mixin input {
    border: 1px solid white;
    background-color: black;
}

@mixin error {
    color: #db2269;
    font-size: 0.625em;
    display: relative;
}

.group {
    &.name {
        grid-area: name;
        width: 15vw;
        .error {
            @include error();
        }
    }

    &.lastname {
        grid-area: lastname;
        width: 15vw;
        .error {
            @include error();
        }
    }

    &.email {
        grid-area: email;
        width: 32vw;
        .error {
            @include error();
        }
    }
    .form-input {
        @include input();
            width: 100%;
            height: 100%;
            padding-left: 1rem;
            box-sizing: border-box;
            color: white;
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #4d4d4d;
            opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #4d4d4d;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #4d4d4d;
        }
    }
}

@media only screen and (max-width: 768px) {
    .group {
        &.name {
            width: unset;
        }
        &.lastname {
            width: unset;
        }
        &.email {
            width: unset;
        }
    }
}